html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', 'Tahoma', 'Verdana', sans-serif;
}

/************************************
 * Fix for Google Chrome on Android *
 ************************************/
body {
    line-height: 0;
    font-size: 0;
    position: fixed;
    overflow: hidden;
}

body > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/***********
 * Fix end *
 ***********/

html,
body,
object,
iframe,
code,
nav,
div,
p,
a,
span,
strong,
img,
button,
label,
input,
textarea,
ol,
ul,
li,
h1,
h2,
table,
thead,
tbody,
tfoot,
th,
tr,
td {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: inherit;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label,
div {
    line-height: 0;
}

ul {
    text-decoration: none;
}

img {
    line-height: 0;
    font-size: 0;
}

table,
thead,
tbody,
th,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}